<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
     <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 400">Civil Engineer
                        <span class='float-right pt-2' style="font-family:'Noto Serif',serif;color:grey;font-size: 15px">Company Name</span>
                        </h4>
                        <p style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Date Posted:2019-12-05 05:04:23
                        <span  class='float-right' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px;font-weight: 600">Anchor Design</span>
                    </p> <hr>
               <div class='row' style='height:35px'>
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2 '>
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Number of Vacancies: <span  style='color:black'>0</span></p>
                        <hr>
                    </div>
                   </div>
                   
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2' >
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Salary Range: <span  style='color:black'>16,000-45,000</span></p>
                       <hr>
                    </div>
                   </div>
               </div>
               <div class='row pt-2' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Category: <span  style='color:black'>IT & Telecommunication</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Job Location: <span  style='color:black'>Hyderabad</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-3' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Working Hours<span  style='color:black'>0</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Years of Experience: <span  style='color:black'>1-3</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-4' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Preferred Age: <span  style='color:black'>22(years)</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Vacancy Nature: <span  style='color:black'>Full Time</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <h5 class='pt-5' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:16px;">Description</h5>
            <p style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                    Civil engineers conceive, design, build, supervise, operate, construct and maintain infrastructure projects and systems in the public and private sector, including roads, buildings, airports, tunnels, dams, bridges, and systems for water supply and sewage treatment. Many civil engineers work in planning, design, construction, research, and education.

        
            </p>
        <h5 style="color:#5caf01;font-family:'Noto Serif',serif;font-size:17px">Skills Required:</h5>   
        <p><ol>
            <li><span style="color:#5caf01;font-weight: 500">Decisionmaking skills.</span> 
                 <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Civil engineers often balance multiple and frequently conflicting objectives, such as determining the feasibility of plans with regard to financial costs and safety concerns. Urban and regional planners often look to civil engineers for advice on these issues.  
                
            </span></li>
                
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Leadership skills. </span> 
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Civil engineers take ultimate responsibility for the projects that they manage or research that they perform. Therefore, they must be able to lead planners, surveyors, construction managers, civil engineering technicians, civil engineering technologists, and others in implementing their project plan.
                 </span>
                    </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Math skills.</span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Civil engineers use the principles of calculus, trigonometry, and other advanced topics in mathematics for analysis, design, and troubleshooting in their work.
                </span> </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Problem-solving skills. </span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Civil engineers work at the highest level of the planning, design, construction, and operation of multifaceted projects or research. The many variables involved require that they possess the ability to identify and evaluate complex problems.    
                </span>  </li>
            
        </ol>
            <hr>
             <p class='pl-4 pt-3' style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Job deadline: 2019-12-30</p>
            
           </div>
                  <div class='col-md-4 mt-5'>
                      <img src="{% static 'images/civil.jpg' %}" width='400px' height='300px'>
                  </div>
                  
              </div>
             
          </div>
      </div>
     
  </div>  
</body>
</html>