<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 500">SeaAsia</h4>
                   <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">About Company</p>
         <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
                Seasia Infotech pvt. Ltd. is an acclaimed IT service provider contributing its part in the development of many businesses around the globe. We socialize with our clients to get a superior cognizance of their business and requirements and help them in fabricating websites and applications for their business. 
                We are serving our clients with the world-class services for more than seven years now. The clients are delivered with the best IT solutions after we have developed a great understanding of their business and requirements. 
            We've been the software development team of choice for over 3000 customers and counting. Because we have a proven track record of delivering prompt, professional and powerful services that raise the bar in this industry.
        </p>
        <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 500">Company Services</p>
        <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            <ol>
                <li>UX & UI design</li>
                <li>Mobile Applications</li>
                <li>Website development</li>
                <li>Data Analytics and Visualizations</li>
                <li>CMS and CRM platforms</li>
                <li>It Support services</li>
                <li>Internet Of Things</li>
            </ol>
          </p>
          <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">Head Office</p>
          <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
              US:5858 Horton Street, Suite 101, Emeryville CA 94608, United States
                        </p>
      


           </div>
                  <div class='col-md-4 mt-5' >
                      <img src="{% static 'images/sea.png' %}" width='365px' height='250px'>
                      <div class='row pl-3 pt-5'>
                          <div class='col-md-12' style='border:1px solid #ccc;background: #fff;height:260px'>
                        <h5 style="font-family: 'Noto Serif', serif;color:#5caf01;">Contact Information</h5>
                      <p class='pt-3'> 
                          <i class='fa fa-envelope ' style='color:#5caf01;font-size: 18px'></i>
                          <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">seasiaindo@gmail.com</span>
                      </p>
                      <p > 
                        <i class='fa fa-phone ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">+91-97351653522</span>
                      </p>
                    <p > 
                        <i class='fa fa-globe ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">www.seasiainfotech.com</span>
                    </p>
                    <p > 
                        <i class='fa fa-facebook' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">www.facebook.com</span>
                    </p>
                    <p > 
                        <i class='fa fa-map-marker ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">
                                C-136, Industrial Area, Phase 8,Mohali, Punjab, 160071, India
                    </span>
                    </p>

                        </div>
                      </div>
                  </div>
                  
              </div>
             
          </div>
      </div>
  </div>
 <div class='container-fluid'>
    <div class='row pt-5 ' >
        <div class='col-md-12'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13720.265180621187!2d76.69324359468366!3d30.71653661458656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feef53dfc1cab%3A0x26c77c1ab5fd3af2!2sSeasia+Infotech!5e0!3m2!1sen!2sin!4v1555492184795!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    
        </div>
    </div>
 </div>
     
   
</body>
</html>